* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 1358px;
    height: 705px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header1 {
    width: 1198px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.header1_1 {
    width: 132px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header1_1 img {
    width: 25px;
    height: 27px;
}
.header1_1 p {
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.header1_2 {
    width: 321px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header1_2 a {
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C8C8C8;
    text-decoration: none;
}
#span1 {
    font-family: 'Metropolis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.header2 {
    width: 1198px;
    height: 577px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header2_1 {
    width: 609px;
    height: 453px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 108px;
}
.header2_1_1 {
    width: 609px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header2_1_1 p {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
#span2 {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
#span3 {
    font-family: 'Metropolis';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.header2_1_2 {
    width: 289px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header2_1_2_1 {
    width: 120px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header2_1_2_1 p {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #DCDCDC;
}
.header2_1_2_1 img {
    width: 24px;
    height: 24px;
}
.header2_1_2_2 {
    width: 289px;
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header2_1_2_2 a {
   width: 55px;
   height: 6px;
   background-color: #2D2D2D;
   border-radius: 30px;
}
.header2_1_2_2 p {
    width: 163px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.header2_2 img {
    width: 486.95px;
    height: 510.95px;
    margin-top: 67px;
}

/*                              Второй header */

.Header {
    width: 1358px;
    height: 590px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header1 {
    width: 1198px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.Header1_1 {
    width: 132px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header1_1 img {
    width: 25px;
    height: 27px;
}
.Header1_1 p {
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.Header1_2 {
    width: 321px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header1_2 a {
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C8C8C8;
    text-decoration: none;
}
#Span1 {
    font-family: 'Metropolis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.Header2 {
    width: 1214px;
    height: 577px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Header2_1 {
    width: 610px;
    height: 469px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 108px;
}
.Header2_1_1 {
    width: 610px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Header2_1_1 p {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
#Span2 {
    font-family: 'Metropolis';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;    
    color: #FFFFFF;
}
#p {
    width: 32px;
    height: 0;
    border: 1px solid #E4E4E4;
}
.Header2_1_1_1 {
    width: 217px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header2_1_1_1 p {
    width: 169px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.Header2_1_1_2 {
    width: 237px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header2_1_1_2 p {
    width: 189px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.Header2_1_1_3 {
    width: 364px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header2_1_1_3 p {
    width: 316px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.Header2_1_1_4 {
    width: 584px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Header2_1_1_4 p {
    width: 536px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.Header2_1_2 {
    width: 289px;
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 104px;
}
.Header2_1_2 a {
   width: 55px;
   height: 6px;
   background-color: #2D2D2D;
   border-radius: 30px;
}
.Header2_1_2 p {
    width: 163px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.Header2_2 img {
    width: 486.95px;
    height: 510.95px;
    /* margin-top: 37px; */
}

/*                              Третий header */

.HEader {
    width: 1358px;
    height: 640px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HEader1 {
    width: 1198px;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.HEader1_1 {
    width: 132px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HEader1_1 img {
    width: 25px;
    height: 27px;
}
.HEader1_1 p {
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.HEader1_2 {
    width: 321px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HEader1_2 a {
    font-family: 'Metropolis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C8C8C8;
    text-decoration: none;
}
#SPan1 {
    font-family: 'Metropolis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.HEader2 {
    width: 1214px;
    height: 577px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HEader2_1 {
    width: 618px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 107px;
}
.HEader2_1_1 {
    width: 618px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.HEader2_1_1 p {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
#SPan2 {
    font-family: 'Metropolis';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;    
    color: #FFFFFF;
}
#p {
    width: 32px;
    height: 0;
    border: 1px solid #E4E4E4;
}
.HEader2_1_1_1 {
    width: 608px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HEader2_1_1_1 p {
    width: 560px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.HEader2_1_1_2 {
    width: 367px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HEader2_1_1_2 p {
    width: 319px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.HEader2_1_1_3 {
    width: 297px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HEader2_1_1_3 p {
    width: 249px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.HEader2_1_1_4 {
    width: 618px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HEader2_1_1_4 p {
    width: 570px;
    height: 18px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
.HEader2_1_2 {
    width: 289px;
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 45px;
}
.HEader2_1_2 a {
   width: 55px;
   height: 6px;
   background-color: #2D2D2D;
   border-radius: 30px;
}
.HEader2_1_2 p {
    width: 163px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.HEader2_2 img {
    width: 392px;
    height: 511px;
    margin-top: 60px;
}
                                /* main */
.main {
    background-color: #000000;
}
.main p {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #E4E4E4;
}
#pheader {
    font-family: 'Futura';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.main1 {
    width: 1358px;
    height: 852px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main1_1 {
    width: 1198px;
    height: 557px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main1_1 img {
    width: 427px;
    height: 553px;
}
.main1_1_1 {
    width: 615px;
    height: 214px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main1_1_1 p {
    line-height: 100%;
}
#pmain1_1_1 {
    width: 610px;
    height: 96px;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;    
    color: #FFFFFF;
}
#Span4 {
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
#Span5 {
    font-family: 'Metropolis';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.main1_1_1_1 {
    width: 615px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main1_1_1_1 p {
    width: 567px;
}
.main1_1_1_2 {
    width: 504px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main1_1_1_2 p {
    width: 456px;
}
.main1_1_1_3 {
    width: 391px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main1_1_1_3 p {
    width: 343px;
}
.main2 {
    width: 1358px;
    height: 4062px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main2_1 {
    width: 1198px;
    height: 488px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 160px;
    align-items: center;
}
.main2_1 img {
    width: 620px;
    height: 488px;
}
.main2_1_1 {
    width: 491px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main2_1_1_1 {
    width: 463px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_1_1_1 p {
    width: 415px;
    height: 54px;
}
.main2_1_1_2 {
    width: 517px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_1_1_2 p {
    width: 469px;
    height: 54px;
}
.main2_1_1_3 {
    width: 469px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_1_1_3 p {
    width: 421px;
    height: 54px;
}
.main2_2 {
    width: 1198px;
    height: 886px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_2 img {
    width: 502.350341796875px;
    height: 464.39813232421875px;
}
.main2_2_1 {
    width: 447px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 189px;
}
.main2_2_1_1 {
    width: 447px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_2_1_1 p {
    width: 399px;
    height: 54px;
}
.main2_2_1_2 {
    width: 447px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_2_1_2 p {
    width: 399px;
    height: 54px;
}
.main2_2_1_3 {
    width: 447px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_2_1_3 p {
    width: 399px;
    height: 54px;
}
.main2_2_1_4 {
    width: 447px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_2_1_4 p {
    width: 399px;
    height: 54px;
}
.main2_3 {
    width: 1198px;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main2_3 img {
    width: 564px;
    height: 570px;
}
.main2_3_1 {
    width: 571px;
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main2_3_1 p {
    width: 450px;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0%;
    color: #C8C8C8;
}
.main2_4 {
    width: 1198px;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: #1C1C1C;
    margin-top: 201px;
}
.main2_4 img {
    width: 289.74956294975175px;
    height: 312.9391068428297px;
    margin-right: 80px;
}
.main2_4_1 {
    width: 278px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main2_4_1 p {
    width: 278px;
    height: 80px;
    font-size: 36px;
    margin-left: 85px;
}
#span6 {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
#span7 {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
}
.main2_4_1 a {
    width: 229px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-left: 85px;
}
.main2_5 {
    width: 1198px;
    height: 514px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 208px;
}
.main2_5 img {
    width: 414px;
    height: 390px;
}
.main2_5_1 {
    width: 734px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main2_5_1 {
    width: 499px;
}
.main2_6 {
    width: 1358px;
    height: 841px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Img/Background.jpg);
    background-size: cover;
}
.main2_6_1 {
    width: 1198px;
    height: 408px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: #181818;
}
.main2_6_1_1 {
    width: 366px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;
}
.main2_6_1_1 p {
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0%;
}
#span8 {
    font-weight: 800;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0%;
}
.main2_6_1_2 {
    width: 334px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
}
.main2_6_1_2 img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}
#amain2_6_1_2 {
    width: 334px;
    height: 48px;
    border-radius: 12px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.main2_6_1_2_1 {
    width: 334px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.main2_6_1_2_1 p {
    width: 167px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.main2_6_1_2_1 a {
    width: 167px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #9D9D9D;
    border-bottom: 1px solid #404040;
    text-decoration: none;
}
.main2_6_1_2_2 {
    width: 334px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 12px;
}
.main2_6_1_2_2 p {
    width: 149px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0%;
    margin-right: 129px;
}
.main2_6_1_2_3 {
    width: 334px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
    border-radius: 12px;
}
.main2_6_1_2_3 p {
    width: 149px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0%;
    margin-right: 129px;
}

                            /* footer */

.footer {
    width: 1358px;
    height: 527px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.footer a {
    text-decoration: none;
    font-family: 'Metropolis';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F3F3F3;
}
.footer1_1 {
    width: 313px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 180px;
}
.footer1_2 {
    width: 120px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer1_2_1 {
    width: 120px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer1_2_1 img {
    width: 68.73490905761719px;
    height: 74.2330322265625px;
}
.footer1_2_1 p {
    width: 104.7272720336914px;
    height: 36px;
    font-family: 'Days';
    font-weight: 400;
    font-size: 27.82px;
    line-height: 100%;
    letter-spacing: 0%;
}
.footer1_2_2 {
    width: 120.00044250488281px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer1_2_2 img {
    width: 24px;
    height: 24px;
}
.footer1_3 {
    width: 397px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 96px;
}

